:root {
  --color-beige: #d7ceb2;
  --color-rich-dark: #03191e;
  --color-cyan: #80a4ed;
  --color-pink: #e56b70;
  --color-purple: #685369;

  --gradient-step-0: #c06dc4;
  --gradient-step-33: #e9aceb;
  --gradient-step-50: #f9e7fa;
  --gradient-step-100: #ffffff;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.purple-txt {
  color: var(--color-purple);
}
.pink-txt {
  color: var(--color-pink);
}

html,
body {
  margin: 0;
  width: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    230deg,
    var(--gradient-step-0) 0%,
    var(--gradient-step-33) 22%,
    var(--gradient-step-50) 40%,
    var(--gradient-step-100) 100%
  );
  color: var(--color-rich-dark);
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
li,
p {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
}
p {
  font-size: 1.25rem;
}

label {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
}
textarea,
input {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}

.btnSubscribe {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 500;
  border-radius: 2rem;
  background-color: white;
  color: var(--color-rich-dark);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
}
.btnSubscribe:hover {
  background-color: var(--color-rich-dark);
  color: white;
}

.btnSubscribe img {
  display: block;
  transition: filter 300ms ease;
  filter: none;
}

.btnSubscribe:hover img {
  filter: brightness(0) invert(1);
}

.btnSubscribe--dark {
  color: white;
  background-color: var(--color-rich-dark);
}
.btnSubscribe--dark img {
  transition: filter 300ms ease;
}
.btnSubscribe--dark:hover {
  background-color: white;
  color: var(--color-rich-dark);
}
.btnSubscribe--dark:hover img {
  filter: brightness(0) invert(0);
}
