---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Banner from "../components/Banner.astro";
import StayActive from "../components/StayActive.astro";
import Activities from "../components/Activities.astro";
import Opinions from "../components/Opinions.astro";
import Offers from "../components/Offers.astro";
import ContactFrom from "../components/ContactFrom.astro";
---

<Layout>
  <NavBar />
  <main>
    <Banner />
    <StayActive />
    <Activities />
    <Opinions />
    <Offers />
    <ContactFrom />
  </main>
</Layout>

<style>
  main {
    padding: 2rem 10%;
  }
</style>
