---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<NavBar />
	<main>
		<h1>MAEL GAUDRON</h1>
	</main>
</Layout>

<style>
	main {
		padding: 2rem 10%;
	}
</style>