---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Banner from "../components/Banner.astro";
import StayActive from "../components/StayActive.astro";
import Activities from "../components/Activities.astro";
---

<Layout>
  <NavBar />
  <main>
    <Banner />
    <StayActive />
    <Activities />
  </main>
</Layout>

<style>
  main {
    padding: 2rem 10%;
  }
</style>
