<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mael Coaching</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	@font-face {
        font-family: 'Roboto';
        src: url('/fonts/Roboto-Regular.ttf') format('ttf');
		font-weight: normal;
  		font-style: normal;
    }
	@font-face {
        font-family: 'Montserrat';
        src: url('/fonts/Montserrat-Regular.ttf') format('ttf');
		font-weight: normal;
  		font-style: normal;
    }

    h1, h2, h3, h4 {
        font-family: 'Roboto', Arial, sans-serif;
    }
	li, p {
        font-family: 'Montserrat', Arial, sans-serif;
    }
</style>
